@model AccountingForPotentiallyDangObj.Web.Models.PdoViewModel
@{

    ViewData["Title"] = "Potentially Danger Objects";
}
<div class="main-window">
    <h4 class="text-center">Регистрация потенциально опасных объектов</h4>
    <div class="">
        <div class="addNewPdoForm">
            @*<form method="post" asp-action="AddNewPdo">*@
            @using (Html.BeginForm("AddNewPdo", "Pdo", FormMethod.Post))
            {
                <table>
                    <tr>
                        <th>Номер журнала ПОО</th>
                        <th>Регистрационный номер ПОО</th>
                        <th>Тип ПОО</th>
                        <th>Дата регистрации</th>
                        <th>Зарегистрировал инспектор</th>
                        <th>Владелец, субъект ПБ</th>
                    </tr>

                    <tr>
                        <td>
                            @Html.DropDownList("journalNumber", ViewBag.JournalNumber as SelectList)
                        </td>
                        <td>
                            @*<input name="RegistrationNumber" type="number">*@
                            @Html.EditorFor(m => m.RegistrationNumber)
                        </td>
                        <td>
                            @Html.DropDownList("abb", ViewBag.Abb as SelectList)
                        </td>
                        <td>
                            @*<input name="DateOfRegistrationString" type="text">*@
                            @Html.EditorFor(m => m.DateOfRegistrationString)
                        </td>
                        <td>
                            @Html.DropDownList("inspectorName", ViewBag.InspectorName as SelectList)
                        </td>
                        <td class="weight_td">
                            @Html.DropDownList("subjectName", ViewBag.SubjectName as SelectList)
                        </td>
                    </tr>
                    <tr>
                        <th>Год изготовления ПОО</th>
                        <th>Год ввода в эксплуатацию ПОО</th>
                        <th>Нормативный срок службы</th>
                        <th>Марка, модель</th>
                        <th>Заводской номер</th>
                        <th>Изготовитель ПОО</th>
                    </tr>
                    <tr>
                        <td>
                            @Html.EditorFor(m => m.YearOfManufacture)
                        </td>
                        <td>
                            @Html.EditorFor(m => m.YearOfCommissioning)
                        </td>
                        <td>
                            @Html.EditorFor(m => m.ServiceLife)
                        </td>
                        <td>
                            @Html.EditorFor(m => m.ModelName)
                        </td>
                        <td>
                            @Html.EditorFor(m => m.SerialNumber)
                        </td>
                        <td>
                            @Html.EditorFor(m => m.Manufacturer)
                        </td>
                    </tr>
                    <tr>
                        <th>Грузоподъемность, т</th>
                        <th>Скорость, м/с</th>
                        <th>Количество остановок</th>
                        <th>Вылет стрелы, м</th>
                        <th>Дата следующего ТО</th>
                        <th>Адрес установки ПОО</th>
                    </tr>
                    <tr>
                        <td>
                            @Html.EditorFor(m => m.CapacityString)
                        </td>
                        <td>
                            @Html.EditorFor(m => m.SpeedString)
                        </td>
                        <td>
                            @Html.EditorFor(m => m.NumberOfStops)
                        </td>
                        <td>
                            @Html.EditorFor(m => m.ArrowDepartureString)
                        </td>
                        <td>
                            @Html.EditorFor(m => m.InformationAboutTheTechnicalInspectionString)
                        </td>
                        <td>
                            @Html.EditorFor(m => m.InstallationLocationAddress)
                        </td>

                    </tr>
                    <tr>
                        <th colspan="2">Место установки</th>
                        <th>Закрепленный инспектор</th>
                        <th>Техническое состояние</th>
                        <th>Дата следующего ТД</th>
                        <th>Дата последнего обследования</th>
                    </tr>
                    <tr>
                        <td colspan="2">
                            @Html.DropDownList("installationLocationName", ViewBag.InstallationLocationName as SelectList)
                        </td>

                        <td>
                            @Html.DropDownList("inspectorName", ViewBag.InspectorName as SelectList)
                        </td>
                        <td>
                            @Html.DropDownList("technicalConditionalName", ViewBag.TechnicalConditionalName as SelectList)
                        </td>
                        <td>
                            @Html.EditorFor(m => m.InformationAboutTheTechnicalDiagnosticString)
                        </td>
                        <td>
                            @Html.EditorFor(m => m.InformationAboutTheLastSurveyString)
                        </td>
                    </tr>

                </table>

                <div class="pdo-div-buttons">
                    <div class="pdo-div-button">
                        <input class="pdo-link" type="submit" value="Зарегистрировать" />
                    </div>

                </div>

                @*</form>*@
            }
        </div>
    </div>




</div>