@model IEnumerable<AccountingForPotentiallyDangObj.Web.Models.PdoViewModel>
@{
    ViewData["Title"] = "Potentially Danger Objects";
    var nullDate = new DateOnly();
    string threeZero = "000" + Model.Select(x => x.RegistrationNumber).ToString();
    

}
<div class="main-window">
    <h4 class="text-center">Справочник потенциально опасных объектов</h4>
    <div class="text-left">
        <table>
            <tr>
                <td class="_id">ID</td>
                <td class="_id">@Html.DisplayNameFor(model => model.JournalNumber)</td>
                <td class="_id">@Html.DisplayNameFor(model => model.RegistrationNumber)</td>
                <td class="_id">@Html.DisplayNameFor(model => model.TypeName)</td>
                <td class="_id">@Html.DisplayNameFor(model => model.SubjectName)</td>
                <td class="_id">@Html.DisplayNameFor(model => model.DateOfRegistration)</td>
                <td class="_id">@Html.DisplayNameFor(model => model.YearOfManufacture)</td>
                <td class="_id">@Html.DisplayNameFor(model => model.ServiceLife)</td>
                <td class="_id">@Html.DisplayNameFor(model => model.InformationAboutTheTechnicalInspection)</td>
                <td class="_id">@Html.DisplayNameFor(model => model.TechnicalConditionalName)</td>
                <td class="_id">@Html.DisplayNameFor(model => model.InspectorName)</td>
                <td class="_id">@Html.DisplayNameFor(model => model.WithdrawalFromRegistration)</td>
            </tr>
            @foreach (var item in Model)
            {

                <tr>
                    <td class="td-center">@item.Id</td>
                    <td class="td-center">@item.JournalNumber</td>
                    @*@{
                        if (item.RegistrationNumber.ToString().Length == 1)
                        {
                            <td class="td-center">@threeZero</td>
                        }
                        else if (item.RegistrationNumber.ToString().Length == 2)
                        {
                            <td class="td-center">
                                @{var number = "00" + item.RegistrationNumber;}
                            </td>
                        }
                        else if (item.RegistrationNumber.ToString().Length == 3)
                        {
                            <td class="td-center">
                                @{
                                    var number = "0" + item.RegistrationNumber;
                                }
                            </td>
                        }
                        else
                        {
                            <td class="td-center">@item.RegistrationNumber</td>
                        }
                    }*@
                    <td class="td-center">@item.RegistrationNumber.ToString()</td>
                    <td class="td-center">@item.TypeName</td>
                    <td class="td-text">@item.SubjectName</td>
                    <td class="td-center">@item.DateOfRegistration</td>
                    <td class="td-center">@item.YearOfManufacture</td>
                    <td class="td-center">@item.ServiceLife</td>
                    <td class="td-center">@item.InformationAboutTheTechnicalInspection</td>
                    <td class="td-center">@item.TechnicalConditionalName</td>
                    <td class="td-text">@item.InspectorName</td>
                    @{
                        if (item.WithdrawalFromRegistration == nullDate)
                        {
                            <td class="td-text">@{
                                    item.Clear = " ";
                                }</td>
                        }
                        else
                        {
                            <td class="td-center">@item.WithdrawalFromRegistration</td>
                        }
                    }
                </tr>
            }
        </table>
    </div>
</div>