@model IEnumerable<AccountingForPotentiallyDangObj.Web.Models.PdoViewModel>
@{
    ViewData["Title"] = "Potentially Danger Objects";
}
<div class="main-window">
    <h4 class="text-center">Справочник потенциально опасных объектов</h4>
    <div class="text-left">
        <table>
            <tr>
                <td class="_id">ID</td>
                <td class ="_id">@Html.DisplayNameFor(model => model.JournalPdoId)</td>
                <td class="_id">@Html.DisplayNameFor(model => model.RegistrationNumber)</td>
                <td class="_id">@Html.DisplayNameFor(model => model.TypeId)</td>
                <td class="_id">@Html.DisplayNameFor(model => model.SubjectId)</td>
                <td class="_id">@Html.DisplayNameFor(model => model.DateOfRegistration)</td>
                <td class="_id">@Html.DisplayNameFor(model => model.YearOfManufacture)</td>
                <td class="_id">@Html.DisplayNameFor(model => model.ServiceLife)</td>
                <td class="_id">@Html.DisplayNameFor(model => model.InformationAboutTheTechnicalInspection)</td>
                <td class="_id">@Html.DisplayNameFor(model => model.TechnicalConditionalId)</td>
                <td class="_id">@Html.DisplayNameFor(model => model.InspectorId)</td>
                <td class="_id">@Html.DisplayNameFor(model => model.WithdrawalFromRegistration)</td>
            </tr>
            @foreach (var item in Model)
            {

                <tr>
                    <td class="td-text">@item.Id</td>
                    <td class="td-text">@item.JournalPdoId</td>
                    <td class="td-text">@item.RegistrationNumber</td>
                    <td class="td-text">@item.TypeId</td>
                    <td class="td-text">@item.SubjectId</td>
                    <td class="td-text">@item.DateOfRegistration</td>
                    <td class="td-text">@item.YearOfManufacture</td>
                    <td class="td-text">@item.ServiceLife</td>
                    <td class="td-text">@item.InformationAboutTheTechnicalInspection</td>
                    <td class="td-text">@item.TechnicalConditionalId</td>
                    <td class="td-text">@item.InspectorId</td>
                    <td class="td-text">@item.WithdrawalFromRegistration</td>
                </tr>
            }
        </table>
    </div>
</div>