@model IEnumerable<AccountingForPotentiallyDangObj.Web.Models.PdoViewModel>
@{
    ViewData["Title"] = "Potentially Danger Objects";
    var nullDate = new DateOnly();

}
<div class="main-window">
    <h4 class="text-center">Справочник потенциально опасных объектов</h4>
    <div class="text-left">
        <table>
            <tr>
                <td class="_id">ID</td>
                <td class="_id">@Html.DisplayNameFor(model => model.JournalNumber)</td>
                <td class="_id">@Html.DisplayNameFor(model => model.RegistrationNumber)</td>
                <td class="_id">@Html.DisplayNameFor(model => model.TypeName)</td>
                <td class="_id">@Html.DisplayNameFor(model => model.SubjectName)</td>
                <td class="_id">@Html.DisplayNameFor(model => model.DateOfRegistration)</td>
                <td class="_id">@Html.DisplayNameFor(model => model.YearOfManufacture)</td>
                <td class="_id">@Html.DisplayNameFor(model => model.ServiceLife)</td>
                <td class="_id">@Html.DisplayNameFor(model => model.InformationAboutTheTechnicalInspection)</td>
                <td class="_id">@Html.DisplayNameFor(model => model.TechnicalConditionalName)</td>
                <td class="_id">@Html.DisplayNameFor(model => model.InspectorName)</td>
                <td class="_id">@Html.DisplayNameFor(model => model.WithdrawalFromRegistration)</td>
            </tr>
            @foreach (var item in Model)
            {

                <tr>
                    <td class="td-center">@item.Id</td>
                    <td class="td-center">@item.JournalNumber</td>
                    <td class="td-center">@item.RegistrationNumberString</td>
                    <td class="td-center">@item.TypeName</td>
                    <td class="td-text">@item.SubjectName</td>
                    <td class="td-center">@item.DateOfRegistration</td>
                    <td class="td-center">@item.YearOfManufacture</td>
                    <td class="td-center">@item.ServiceLife</td>
                    <td class="td-center">@item.InformationAboutTheTechnicalInspection</td>
                    <td class="td-center">@item.TechnicalConditionalName</td>
                    <td class="td-text">@item.InspectorName</td>
                    <td class="td-center">@item.WithdrawalFromRegistrationString</td>
                </tr>
            }
        </table>
    </div>
</div>