@model IEnumerable<AccountingForPotentiallyDangObj.Web.Models.PdoViewModel>
@{
    ViewData["Title"] = "Potentially Danger Objects";
}
<div class="main-window">
    <h4 class="text-center">Справочник потенциально опасных объектов</h4>
    <div class="scroll-table">
        <div class="scroll-table-body">
            
            <table id="myTable">
                <thead>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.JournalNumber)</th>
                        <th>@Html.DisplayNameFor(model => model.RegistrationNumber)</th>
                        <th>@Html.DisplayNameFor(model => model.TypeName)</th>
                        <th>@Html.DisplayNameFor(model => model.SubjectName)</th>
                        <th>@Html.DisplayNameFor(model => model.InstallationLocationAddress)</th>
                        <th>@Html.DisplayNameFor(model => model.DateOfRegistration)</th>
                        <th>@Html.DisplayNameFor(model => model.YearOfManufacture)</th>
                        <th>@Html.DisplayNameFor(model => model.ModelName)</th>
                        <th>@Html.DisplayNameFor(model => model.SerialNumber)</th>
                        <th>@Html.DisplayNameFor(model => model.Manufacturer)</th>
                        <th>@Html.DisplayNameFor(model => model.ServiceLife)</th>
                        <th>@Html.DisplayNameFor(model => model.InformationAboutTheTechnicalInspection)</th>
                        <th>@Html.DisplayNameFor(model => model.TechnicalConditionalName)</th>
                        <th>@Html.DisplayNameFor(model => model.InspectorName)</th>
                        <th>@Html.DisplayNameFor(model => model.InformationAboutTheLastSurvey)</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.JournalNumber</td>
                            <td><a href="/Pdo/UpdatePdo/@item.Id">@item.RegistrationNumberString</a></td>
                            <td>@item.TypeName</td>
                            <td>@item.SubjectName</td>
                            <td>@item.InstallationLocationAddress</td>
                            <td>@item.DateOfRegistration</td>
                            <td>@item.YearOfManufacture</td>
                            <td>@item.ModelName</td>
                            <td>@item.SerialNumber</td>
                            <td>@item.Manufacturer</td>
                            <td>@item.ServiceLife</td>
                            <td>@item.InformationAboutTheTechnicalInspectionString</td>
                            <td>@item.TechnicalConditionalName</td>
                            <td>@item.InspectorName</td>
                            <td>@item.InformationAboutTheLastSurveyString</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    

    <div class="div-buttons">
        <div class="div-button">
            <a class="button-link" asp-area="" asp-controller="Pdo" asp-action="CreatePdo">Регистрация нового ПОО</a>
        </div>
        @*<div class="pdo-div-button">
            <a class="pdo-link" asp-area="" asp-controller="Pdo" asp-action="EditPdo">Внесение изменений, связанных с регистрацией ПОО</a>
        </div>*@
    </div>
</div>