@model IEnumerable<AccountingForPotentiallyDangObj.Web.Models.SubjectViewModel>
@{
    ViewData["Title"] = "Субъекты промышленной безопасности";
}
<div class="main-window">
    <h4 class="text-center">Справочник субъектов промышленной безопасности</h4>
    <div class="scroll-table">
        <div class="scroll-table-body">
            <table>
                <thead>
                    <tr>
                        <th>№ п/п</th>
                        <th>@Html.DisplayNameFor(model => model.Name)</th>
                        <th>@Html.DisplayNameFor(model => model.UNP)</th>
                        <th>@Html.DisplayNameFor(model => model.departmentalAffiliationName)</th>
                        <th>@Html.DisplayNameFor(model => model.postalAddress)</th>
                        <th>@Html.DisplayNameFor(model => model.phone)</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Id</td>
                            <td>@item.Name</td>
                            <td>@item.UNP</td>
                            <td>@item.departmentalAffiliationName</td>
                            <td>@item.postalAddress</td>
                            <td>@item.phone</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    <div class="pdo-div-buttons">
        <div class="pdo-div-button">
            <a class="pdo-link" asp-area="" asp-controller="Pdo" asp-action="Pdo">Добавление нового субъекта</a>
        </div>
        @*<div class="pdo-div-button">
        <a class="pdo-link" asp-area="" asp-controller="Pdo" asp-action="Pdo">Внесение изменений, связанных с регистрацией ПОО</a>
        </div>*@
    </div>
</div>
