@model IEnumerable<AccountingForPotentiallyDangObj.Web.Models.InspectorViewModel>
@{
    ViewData["Title"] = "Inspectors";
}
<div class="main-window">
    <h4 class="text-center">Сотрудники Гомельского областного управления Госпромнадзора</h4>
    <div class="scroll-table">
        <div class="scroll-table-body">
            <table class="main-table">
                <thead>
                    <tr>
                        @*<th>@Html.DisplayNameFor(model => model.Id)</th>*@
                        <th>@Html.DisplayNameFor(model => model.Name)</th>
                        <th>@Html.DisplayNameFor(model => model.RoleName)</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {

                        <tr>
                            @if (item.RoleName != null)
                            {
                                @*<td class="td-center">@item.Id</td>*@
                                <td class="td-center"> <a href="/Inspectors/UpdateInspector/@item.Id">@item.Name</a></td>
                                <td class="td-center"> @item.RoleName</td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="updateObject">Для внесения изменения кликните по фамилии сотрудника</div>
    </div>
    <div class="div-buttons">
        <div class="div-button">
            <a class="inspector-link" asp-area="" asp-controller="Inspectors" asp-action="CreateInspector">Добавление нового сотрудника</a>
        </div>
        
    </div>
</div>